{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About The App</h1>

    <p>This nonprofit search engine was made by Lucio Bernal, Stellina Sy, Marcia Salas. </p>
    
    </p>This web application was created to help users, who are looking to donate or contribute, discover nonprofits based on their personal critiria. This search engine can recommend nonprofits based on location and operations category, from Healthcare to Arts and Culture to name a few. In addition to a recommended list, users may view the nonprofits' financial health and performance to guide their decision on which nonprofits they would like to contribute to. </p>

    <p>Based on the Propublica API</p>

{% endblock %}